<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    <header class="header">
      {% include "partials/header.njk" %}
    </header>

    <main{% if safeMargin %} class="safe-top"{% endif %}>
      {%- block main %}
        <div class="container">
          {{ content | safe }}
        </div>
      {% endblock -%}
    </main>

    <footer>
      {% include "partials/footer.njk" %}
    </footer>

    <script>
      const menuToggler = document.querySelector(".nav__menu__toggler");
      const header = document.querySelector(".header");
      const menu = document.querySelector(".nav__menu");

      menuToggler.onclick = () => {
        const isActive = menu.classList.toggle("active");

        menuToggler.setAttribute("aria-expanded", isActive);

        if(isActive && !header.classList.contains("header--small"))
          header.classList.toggle("header--small");
      }

      window.onscroll = () => header.classList.toggle("header--small", window.scrollY > 5);
    </script>
  </body>
</html>