{% extends "base.njk" %}

{% block main %}
  <div class="container">
    <article>
      <div class="article-header safe-top">
        <br />
        <small>{{ date | toLocaleDate }}</small>
        <h1>{{title}}</h1>
        {% image "./assets/blog/" + cover, "Cover" %}
      </div>

      {{content | safe}}
    </article>
  </div>
{% endblock %}