/* #region header */
.header {
  --header-padding: 1.1em;
  position: fixed;
  background-color: var(--nav-bg-color);
  margin: 1em;
  width: calc(100% - 2em);
  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);
  border-radius: 0.5em;
  z-index: 3;
  transition-property: padding, box-shadow;
  transition-duration: 250ms;
  transition: all 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header--small {
  padding-top: calc(var(--header-padding) / 2);
  padding-bottom: calc(var(--header-padding) / 2);
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  box-shadow: rgba(102, 94, 87, 0.1) 0px 6px 3px -2px,
    rgba(104, 98, 92, 0.2) 0px 3px 7px -3px;
}

header .logo img {
  filter: invert(1);
}

.logo {
  line-height: 0;
}

.logo img {
  width: 58px;
  height: auto;
}

.nav__menu {
  position: absolute;
  width: 100%;
  left: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  top: calc(100% - var(--border-radius));
  background-color: var(--nav-bg-color);
  text-align: center;
  display: none;
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.nav__menu.active {
	display: block;
}

.nav__menu__item {
  display: block;
  margin-top: 1em;
  color: #212121;
}

.nav__menu__item a {
  transition: color 250ms;
  color: inherit;
}

nav a[aria-current="page"] {
  color: var(--accent-color);
  font-weight: bold;
}

.nav__menu__item:hover a {
  color: var(--accent-color);
}

.nav__menu__item:last-child {
  margin-bottom: 1em;
}

.nav__menu__toggler {
  background: transparent;
  border-radius: 100%;
  border: none;
  padding: 1em 0.7em;
  overflow: hidden;
}

.nav__menu__toggler svg rect {
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.nav__menu.active + .nav__menu__toggler svg rect:first-child {
  transform: translateY(6px);
}

.nav__menu.active + .nav__menu__toggler svg rect:last-child {
  transform: translateY(-6px);
}

.nav__menu__toggler svg {
  vertical-align: middle;
}

/* #endregion */

/* #region footer */
footer {
  padding-top: 3em;
  padding-bottom: 3em;
  background: var(--footer-bg-color);
  color: var(--footer-text-color);
}

footer a {
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col__title {
  margin-bottom: 1rem;
  margin-top: 0;
  letter-spacing: 1px;
}

.footer-col__menu {
  list-style-type: none;
}

.footer-col__menu li {
  margin-top: 0.5em;
}

.footer-col:last-child {
  margin-right: 0;
}

.footer-col--logo {
  flex-basis: 100%;
  margin-top: 2em;
  text-align: center;
  order: 1;
}

.go-to-top {
  margin-top: 0.5em;
}

.footer-row--end {
  margin-top: 3.6em;
  text-align: center;
	justify-content: center;
}

.footer-row--end > .footer-col:first-child {
	margin-bottom: 2em;
}

.footer-row--end > .footer-col:last-child small > a:first-child {
  margin-right: 0.5em;
}

.sign {
  margin-left: -1ch;
  transition: margin-left 500ms;
}

.sign:hover {
  text-decoration: none;
  margin-left: 0;
  /* animation: sign-anim 1s infinite alternate-reverse; */
}

.sign::before {
  content: "@";
  opacity: 0;
  transition: opacity 500ms;
}

.sign:hover::before {
  opacity: 1;
}
/* #endregion */
